@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: Monserrat, sans-serif; */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --blue3d: 208 61% 47%;
    --blue3d-foreground: 0 0% 98%;

    --green3d: 143 59% 45%;
    --green3d-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --blue3d: 208 61% 47%;
    --blue3d-foreground: 0 0% 98%;

    --green3d: 143 59% 45%;
    --green3d-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.5s ease forwards;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .hover-link {
    @apply hover:bg-accent hover:text-accent-foreground;
  }

  .bg-blue-gradient {
    @apply bg-gradient-to-b from-blue3d to-green3d;
  }

  /* style.js */

  .boxWidth {
    @apply xl:max-w-[1280px] w-full;
  }

  .heading2 {
    @apply font-palanquin font-semibold xs:text-[48px] text-[40px] text-black xs:leading-[76.8px] leading-[66.8px] w-full
  }
  .paragraph {
    @apply font-montserrat font-normal text-gray-500 text-[18px] leading-[30.8px]
  }.paragraph2 {
    @apply font-montserrat font-normal text-dimWhite text-[18px] leading-[30.8px]
  }

  .flexCenter {
    @apply flex justify-center items-center
  }
  .flexStart {
    @apply flex justify-center items-start
  }

  .paddingX {
    @apply sm:px-32 px-8
  }
  .paddingY {
    @apply sm:py-32 py-8
  }
  .padding {
    @apply sm:px-16 px-6 sm:py-12 py-4
  }

  .marginX {
    @apply sm:mx-16 mx-6
  }
  .marginY {
    @apply sm:my-16 my-6
  }

  /* layout.js */

   .section {
    @apply flex md:flex-row flex-col paddingY
   }
    .sectionReverse {
      @apply flex md:flex-row flex-col-reverse paddingY
    }

    .sectionImgReverse {
      @apply flex-1 flex flexCenter md:mr-10 mr-0 md:mt-0 mt-10 relative
    }
    .sectionImg {
      @apply flex-1 flex flexCenter md:ml-10 ml-0 md:mt-0 mt-10 relative
    }

    .sectionInfo {
      @apply flex-1 flexStart flex-col
    }

}